<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Awesomium.Windows.Forms.Unofficial" version="1.7.5.0" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net472" />
</packages>